############################
# GENERAL
############################
.env
.env.*
*.log
*.sqlite3
*.db
__pycache__/
*.pyc
*.pyo

############################
# PYTHON BACKEND
############################
venv/
env/
.venv/
instance/
migrations/
*.egg-info/
dist/
build/

############################
# FLASK
############################
*.sqlite
*.db
*.db-journal

############################
# NODE FRONTEND
############################
node_modules/
dist/
build/
.cache/
.vite/
coverage/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.vscode/
.idea/

############################
# RECHART CACHE
############################
*.map

############################
# JWT / SECRET
############################
config.py